.container {
  background-color: white;
  /* height: 100vh; */
  margin: 0 auto;
  /* width: 50%; */
  background-color: #edf6f3;
  padding: 15px;
}
.address-input {
  border-radius: 5px;
  height: 30px;
  width: 50%;
  padding: 4px;
}

.address-btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  transition: 0.2s, all;
  border-radius: 5px;
  background-color: #00cdbe;
  letter-spacing: 0.7px;
  padding: 8px 18px;
  margin-left: 10px;
}

.container > h2 {
  color:#00cdbe;
}

.map-container >img{
  width: 100%;
}

.business-title {
  color: #00cdbe;
}